# Mergin Data: Types of Merges

In this notebook I'll showcase three types of merges with Pandas:

- One-to-one
- Many-to-one
- Many-to-Many

All these merges can be performed using the same Pandas function: [pd.merge](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)

    DataFrame.merge(self, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None) → 'DataFrame'

In [54]:
# import required library: Pandas
import pandas as pd
import numpy as np
# I'll access world bank data using pandas_datareader
import pandas_datareader as pdr
from pandas_datareader import wb
import requests
from dbnomics import fetch_series

In [4]:
# create a list of all country codes, excluding aggregates

country_codes = wb.get_countries()
country_codes = country_codes[country_codes['region'] != 'Aggregates']['iso3c'].values #exclude aggregates
country_codes

array(['ABW', 'AFG', 'AGO', 'ALB', 'AND', 'ARE', 'ARG', 'ARM', 'ASM',
       'ATG', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL', 'BEN', 'BFA', 'BGD',
       'BGR', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ', 'BMU', 'BOL', 'BRA',
       'BRB', 'BRN', 'BTN', 'BWA', 'CAF', 'CAN', 'CHE', 'CHI', 'CHL',
       'CHN', 'CIV', 'CMR', 'COD', 'COG', 'COL', 'COM', 'CPV', 'CRI',
       'CUB', 'CUW', 'CYM', 'CYP', 'CZE', 'DEU', 'DJI', 'DMA', 'DNK',
       'DOM', 'DZA', 'ECU', 'EGY', 'ERI', 'ESP', 'EST', 'ETH', 'FIN',
       'FJI', 'FRA', 'FRO', 'FSM', 'GAB', 'GBR', 'GEO', 'GHA', 'GIB',
       'GIN', 'GMB', 'GNB', 'GNQ', 'GRC', 'GRD', 'GRL', 'GTM', 'GUM',
       'GUY', 'HKG', 'HND', 'HRV', 'HTI', 'HUN', 'IDN', 'IMN', 'IND',
       'IRL', 'IRN', 'IRQ', 'ISL', 'ISR', 'ITA', 'JAM', 'JOR', 'JPN',
       'KAZ', 'KEN', 'KGZ', 'KHM', 'KIR', 'KNA', 'KOR', 'KWT', 'LAO',
       'LBN', 'LBR', 'LBY', 'LCA', 'LIE', 'LKA', 'LSO', 'LTU', 'LUX',
       'LVA', 'MAC', 'MAF', 'MAR', 'MCO', 'MDA', 'MDG', 'MDV', 'MEX',
       'MHL', 'MKD', 'MLI', 'MLT', 'MMR', 'MNE', 'MNG', 'MNP', 'MOZ',
       'MRT', 'MUS', 'MWI', 'MYS', 'NAM', 'NCL', 'NER', 'NGA', 'NIC',
       'NLD', 'NOR', 'NPL', 'NRU', 'NZL', 'OMN', 'PAK', 'PAN', 'PER',
       'PHL', 'PLW', 'PNG', 'POL', 'PRI', 'PRK', 'PRT', 'PRY', 'PSE',
       'PYF', 'QAT', 'ROU', 'RUS', 'RWA', 'SAU', 'SDN', 'SEN', 'SGP',
       'SLB', 'SLE', 'SLV', 'SMR', 'SOM', 'SRB', 'SSD', 'STP', 'SUR',
       'SVK', 'SVN', 'SWE', 'SWZ', 'SXM', 'SYC', 'SYR', 'TCA', 'TCD',
       'TGO', 'THA', 'TJK', 'TKM', 'TLS', 'TON', 'TTO', 'TUN', 'TUR',
       'TUV', 'TWN', 'TZA', 'UGA', 'UKR', 'URY', 'USA', 'UZB', 'VCT',
       'VEN', 'VGB', 'VIR', 'VNM', 'VUT', 'WSM', 'XKX', 'YEM', 'ZAF',
       'ZMB', 'ZWE'], dtype=object)

In [5]:
# I'll get a list of country names with populations, from the World Bank
# Using pandas datareader
# see https://pandas-datareader.readthedocs.io/en/latest/remote_data.html#world-bank

pop = (
        wb.download(indicator='SP.POP.TOTL',country=country_codes, start=2015, end=2015)
       .reset_index()
       .drop(columns='year')
       .rename(columns={'SP.POP.TOTL':'population'})
       .sort_values(by='population', ascending=False) 
      )
pop.head()

/home/fede/anaconda3/envs/geopandas/lib/python3.7/site-packages/pandas_datareader/wb.py:593: UserWarning: Non-standard ISO country codes: CHI, XKX
  "Non-standard ISO " "country codes: %s" % tmp, UserWarning

           country    population
36           China  1.371220e+09
89           India  1.310152e+09
203  United States  3.207427e+08
87       Indonesia  2.583833e+08
26          Brazil  2.044718e+08

In [25]:
url = 'http://dataservices.imf.org/REST/SDMX_JSON.svc/CompactData/IFS/Q.AU.PXP_IX.?startPeriod=1957&endPeriod=2016'

# Get data from the above URL using the requests package
data = requests.get(url).json()

# Load data into a pandas dataframe
auxp = pd.DataFrame(data['CompactData']['DataSet']['Series']['Obs'])

# Show the last five observiations
auxp.tail()

    @TIME_PERIOD        @OBS_VALUE
223      2015-Q4  85.5465473860777
224      2016-Q1  81.5208275090858
225      2016-Q2  82.6390830304725
226      2016-Q3  85.9938495946324
227      2016-Q4  98.6301369863014

symbols (string) – Possible formats: 1. DB/SYM: The Quandl ‘codes’: DB is the database name, SYM is a ticker-symbol-like Quandl abbreviation for a particular security. 2. SYM.CC: SYM is the same symbol and CC is an ISO country code, will try to map to the best single Quandl database for that country. Beware of ambiguous symbols (different securities per country)! Note: Cannot use more than a single string because of the inflexible way the URL is composed of url and _get_params in the superclass  


from: https://www.quandl.com/data/ODA-IMF-Cross-Country-Macroeconomic-Statistics/documentation

Data Organization

The quickest way to find a dataset within the IMF database is via search. Click the Data tab on the left of this page and then type your query (including both indicator name and country name) into the search box marked "search this database".

All IMF datasets can also be accessed directly via their unique Quandl code. The codes for these datasets follow the format ODA/{COUNTRY}_{INDICATOR}.

For example, the Quandl code for population of Albania is ODA/ALB_LP, where ALB is the ISO code for Albania and LP is the indicator code for population. The table below lists all available indicators; note that not all indicators are available for all countries. You can see a list of all country ISO codes here.

In [49]:
# symbol = 'WIKI/AAPL'  # or 'AAPL.US'
symbol = 'ODA/ABW_PCPI'
temp = web.DataReader(symbol, 'quandl', '2019-01-01', '2020-01-01', api_key='FBwSgrKW14w3TMa6a8un')
temp

             Value
Date
2019-12-31  122.46

In [52]:
temp.iloc[0,0]

122.46

In [55]:
d = {} # initialize dict
print len(country_codes)
for country_code in country_codes:
    print(country_code)
    print(country_codes.index(country_code))
    try:
        d[country_code] = web.DataReader(f'ODA/{country_code}_PCPI', 'quandl', '2019-01-01', '2020-01-01', api_key='FBwSgrKW14w3TMa6a8un').iloc[0,0]
    except:
        d[country_code] = np.nan

In [56]:
d

{'ABW': 122.46,
 'AFG': 113.815,
 'AGO': 353.82099999999997,
 'ALB': 107.49799999999999,
 'AND': nan,
 'ARE': 289.798,
 'ARG': 408.024,
 'ARM': 292.605,
 'ASM': nan,
 'ATG': 141.821,
 'AUS': 115.662,
 'AUT': 130.347,
 'AZE': 255.5,
 'BDI': 145.089,
 'BEL': 108.491,
 'BEN': 115.397,
 'BFA': 112.771,
 'BGD': 261.41900000000004,
 'BGR': 104.95200000000001,
 'BHR': 136.17,
 'BHS': 108.016,
 'BIH': 138.356,
 'BLR': 818.8430000000001,
 'BLZ': 137.662,
 'BMU': nan,
 'BOL': 103.97200000000001,
 'BRA': 34297640468509.0,
 'BRB': 186.44400000000002,
 'BRN': 99.537,
 'BTN': 267.839,
 'BWA': 342.99199999999996,
 'CAF': 211.986,
 'CAN': 135.615,
 'CHE': 102.509,
 'CHI': nan,
 'CHL': 102.339,
 'CHN': 108.176,
 'CIV': 153.28799999999998,
 'CMR': 251.669,
 'COD': 6415.59,
 'COG': 149.04399999999998,
 'COL': 102.397,
 'COM': 183.00900000000001,
 'CPV': 140.986,
 'CRI': 106.176,
 'CUB': nan,
 'CUW': nan,
 'CYM': nan,
 'CYP': 100.76799999999999,
 'CZE': 107.79,
 'DEU': 105.429,
 'DJI': 105.26799999999999,
 'DMA': 105.899,
 'DNK': 102.911,
 'DOM': 131.321,
 'DZA': 213.579,
 'ECU': 105.814,
 'EGY': 634.706,
 'ERI': 1024.96,
 'ESP': 104.92,
 'EST': 111.286,
 'ETH': 137.661,
 'FIN': 103.774,
 'FJI': 125.416,
 'FRA': 104.97399999999999,
 'FRO': nan,
 'FSM': 134.746,
 'GAB': 138.925,
 'GBR': 107.867,
 'GEO': 130.631,
 'GHA': 238.78400000000002,
 'GIB': nan,
 'GIN': 1846.28,
 'GMB': 511.93199999999996,
 'GNB': 114.465,
 'GNQ': 218.02900000000002,
 'GRC': 122.126,
 'GRD': 113.5,
 'GRL': nan,
 'GTM': 139.85,
 'GUM': nan,
 'GUY': 119.62799999999999,
 'HKG': 109.611,
 'HND': 332.14599999999996,
 'HRV': 102.98899999999999,
 'HTI': 391.71,
 'HUN': 121.60799999999999,
 'IDN': 138.02200000000002,
 'IMN': nan,
 'IND': 153.999,
 'IRL': 101.984,
 'IRN': 197.28599999999997,
 'IRQ': 125.382,
 'ISL': 261.942,
 'ISR': 100.89399999999999,
 'ITA': 103.302,
 'JAM': 492.42,
 'JOR': 127.177,
 'JPN': 102.414,
 'KAZ': 429.145,
 'KEN': 370.30300000000005,
 'KGZ': 157.33100000000002,
 'KHM': 178.34599999999998,
 'KIR': 130.284,
 'KNA': 106.244,
 'KOR': 105.865,
 'KWT': 186.734,
 'LAO': 107.455,
 'LBN': 124.884,
 'LBR': 704.678,
 'LBY': 421.89,
 'LCA': 118.579,
 'LIE': nan,
 'LKA': 129.711,
 'LSO': 115.88799999999999,
 'LTU': 109.486,
 'LUX': 105.834,
 'LVA': 108.19200000000001,
 'MAC': 149.458,
 'MAF': nan,
 'MAR': 121.87200000000001,
 'MCO': nan,
 'MDA': 54865.46,
 'MDG': 488.865,
 'MDV': 195.792,
 'MEX': 104.07700000000001,
 'MHL': 147.876,
 'MKD': 114.555,
 'MLI': 149.237,
 'MLT': 105.853,
 'MMR': 150.861,
 'MNE': 309.643,
 'MNG': 122.84200000000001,
 'MNP': nan,
 'MOZ': 124.601,
 'MRT': 177.75099999999998,
 'MUS': 105.37299999999999,
 'MWI': 118.67,
 'MYS': 123.09899999999999,
 'NAM': 139.548,
 'NCL': nan,
 'NER': 116.118,
 'NGA': 292.18,
 'NIC': 225.83599999999998,
 'NLD': 105.4,
 'NOR': 119.954,
 'NPL': 125.459,
 'NRU': 130.44799999999998,
 'NZL': 148.935,
 'OMN': 161.472,
 'PAK': 237.485,
 'PAN': 106.807,
 'PER': 132.094,
 'PHL': 121.758,
 'PLW': 128.528,
 'PNG': 727.796,
 'POL': 175.929,
 'PRI': 121.273,
 'PRK': nan,
 'PRT': 104.429,
 'PRY': 105.525,
 'PSE': nan,
 'PYF': nan,
 'QAT': 108.861,
 'ROU': 123.16,
 'RUS': 1691.42,
 'RWA': 119.927,
 'SAU': 106.54899999999999,
 'SDN': 1912.62,
 'SEN': 107.63,
 'SGP': 101.26799999999999,
 'SLB': 192.261,
 'SLE': 273.953,
 'SLV': 113.086,
 'SMR': 112.995,
 'SOM': nan,
 'SRB': 197.21099999999998,
 'SSD': 7785.54,
 'STP': 128.053,
 'SUR': 142.003,
 'SVK': 105.94,
 'SVN': 104.565,
 'SWE': 107.066,
 'SWZ': 341.339,
 'SXM': nan,
 'SYC': 113.536,
 'SYR': nan,
 'TCA': nan,
 'TCD': 143.971,
 'TGO': 119.154,
 'THA': 102.93,
 'TJK': 1512.22,
 'TKM': 543.32,
 'TLS': 102.417,
 'TON': 130.681,
 'TTO': 124.89399999999999,
 'TUN': 125.848,
 'TUR': 426.524,
 'TUV': 168.572,
 'TWN': 103.745,
 'TZA': 355.88599999999997,
 'UGA': 178.53099999999998,
 'UKR': 87973432.35,
 'URY': 197.003,
 'USA': 256.122,
 'UZB': 5900.48,
 'VCT': 112.70299999999999,
 'VEN': 27017364943819.0,
 'VGB': nan,
 'VIR': nan,
 'VNM': 274.095,
 'VUT': 158.611,
 'WSM': 120.639,
 'XKX': nan,
 'YEM': 924.105,
 'ZAF': 113.09,
 'ZMB': 232.049,
 'ZWE': 113.63799999999999}

## One-to-one Merge

In this type of merge, there should be no duplicate values in each column. If there are duplicate values, the duplicate value will be repeated.

## Many-toone

In this type of merge,